.welcome-container {
    width: 100vw;
    height: 100vh;
    display: grid
  }

  .welcome-container-content {
    align-self: center;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border : solid 1px

  }